@import '../../../mixins';

.search-box,
input,
mat-form-field {
  box-sizing: border-box;
  width: 100%;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white !important;
}

.search-box {
  @include responsive(margin-top, 3rem, $md: 4rem, $lg: 5rem);
}
