<mat-card class="mat-elevation-z0">
  <p>Made with <span class="love">❤</span> by <a href="https://github.com/charlesferreira">Charles Ferreira</a></p>
  <p>Cover photo by
    <a
      href="https://unsplash.com/photos/atsUqIm3wxo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
      Myke Simon
    </a>
    on
    <a
      href="https://unsplash.com/search/photos/cinema?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">
      Unsplash
    </a>
  </p>
</mat-card>
