<mat-card class="mat-elevation-z0">

  <h2 *ngIf="!searchTerms">Place your bets for the next big hit</h2>
  <h2 *ngIf="searchTerms" class="search-terms">
    <span>Showing results for:</span>
    {{ searchTerms }}
  </h2>

  <mat-grid-list [cols]=" cols" rowHeight="4:3" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let movie of movies">
      <app-movie-list-item [movie]="movie"></app-movie-list-item>
    </mat-grid-tile>
  </mat-grid-list>

  <button mat-button color="accent" (click)="loadNextPage()">Load more</button>

</mat-card>
