@import "./../../../mixins";

mat-card {
  background: #eee;
}

.search-terms {
  display: none;
  margin-top: 5%;
  padding: 2rem 0;
  text-align: center;
  @include responsive(font-size, 95%, 100%, 105%, 115%, 130%);

  span {
    display: block;
    margin-top: 0.5rem;
    font-size: 130%;
    font-weight: 600;
  }
}
