@import "./../../../mixins";

mat-card {
  background: #eee;
}

h2 {
  margin-top: 5%;
  padding: 3rem 2rem;
  text-align: center;
  @include responsive(font-size, 150%, $md: 175%, $lg: 200%);

  span {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 85%;
    font-weight: 300;
  }
}
