<div id="toolbar">
  <mat-toolbar class="mat-elevation-z2">
    <button mat-button disableRipple color="primary" (click)="resetUpcomingMovies()">
      <img src="/assets/images/logo.svg">
      Upcoming Movies
    </button>
    <span class="spacer"></span>
    <button mat-icon-button color="primary" (click)="resetSearch()">
      <mat-icon class="icon">search</mat-icon>
    </button>
  </mat-toolbar>

  <mat-card class="mat-elevation-z0">

    <h2 *ngIf="!query">Place your bets for the next big hit</h2>
    <h2 *ngIf="query" class="search-terms">
      <span>Showing results for:</span>
      {{ query }}
    </h2>

    <mat-grid-list [cols]=" cols" rowHeight="4:3" (window:resize)="onResize($event)">
      <mat-grid-tile *ngFor="let movie of movies | async">
        <app-movie-list-item [movie]="movie"></app-movie-list-item>
      </mat-grid-tile>
    </mat-grid-list>

    <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"></div>

    <mat-spinner color="primary" *ngIf="isLoading"></mat-spinner>

  </mat-card>
</div>
