<mat-card fxLayout="column" (click)="showDetailsDialog()" (mouseenter)="raised=true" (mouseleave)="raised=false"
  [class.mat-elevation-z3]="!raised" [class.mat-elevation-z10]="raised" matRipple>

  <div class="cover" mat-card-image fxFlex="5 0 auto">
    <div class="poster" [ngStyle]="{ 'background-image': 'url(' + (movie.backdrop || movie.poster) + ')'}"></div>
  </div>

  <mat-card-header fxFlex fxLayout="column">
    <mat-card-title>
      {{ movie.title }}
    </mat-card-title>
    <span *ngIf="movie.release" class="release">
      {{ movie.release | date }}
    </span>
  </mat-card-header>

  <mat-card-footer fxFlex="0 1 48px">
    {{ movie.genres.join(', ') | titlecase }}
  </mat-card-footer>

</mat-card>
