@import '~@angular/material/prebuilt-themes/purple-green.css';
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,300,300i,600');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'colors';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 16px;
  background: $background-color-body;
}
