$background-color-body: #eee;

$color-primary: #850020;
$color-primary-inverse: #fff;

$app-red: (
  50: #850020,
  100: #850020,
  200: #850020,
  300: #850020,
  400: #850020,
  500: #850020,
  600: #850020,
  700: #850020,
  800: #850020,
  900: #850020,
  A100: #850020,
  A200: #850020,
  A400: #850020,
  A700: #850020,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white
  )
);
