@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,300,300i,600");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

.hero {
  top: 0;
  display: table;
  margin: auto;
  height: 100%;
  width: 100%;
  background: top center fixed;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&h=1015&q=80");
}

.hero .logo {
  display: none;
  position: absolute;
  top: 15px;
  width: 50px;
  z-index: 2;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  background: rgba(133, 0, 32, 0.85);
  position: absolute;
  z-index: 1;
}

.hero-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
  position: relative;
  z-index: 2;
}

.hero-content {
  margin: 0 auto;
  max-width: 320px;
}

.hero-content h1 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 250%;
  color: #fff;
}

.hero-content p {
  margin-top: 1rem;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 120%;
  color: #fff;
}

.search-box {
  position: relative;
  width: 100%;
  margin-top: 5rem;
}

.search-box input {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #fff;
  padding: 5%;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 100%;
  color: #fff;
  background: transparent;
}

.search-box input:focus {
  outline: none;
  background: rgba(0, 0, 0, 0.25);
}

.search-box input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search-box-go {
  position: absolute;
  color: #fff;
  height: 100%;
  top: 0;
  right: 0;
}

.search-box-go button {
  border: none;
  height: 100%;
  padding: 10px 10px;
  cursor: pointer;
  background: transparent;
}

.search-box-go button:focus {
  outline: none;
}

.search-box-go .material-icons {
  display: inline;
  color: #fff;
  font-size: 300%;
}

/* SMARTPHONE LANDSCAPE */
@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero {
    background-image: url("https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=768&q=80");
  }

  .hero .logo {
    top: 15px;
    width: 50px;
  }

  .hero-content {
    margin: 0 auto;
    max-width: 540px;
  }

  .hero-content h1 {
    margin-top: 2rem;
    text-align: center;
    font-size: 250%;
  }

  .hero-content h1 br {
    display: none;
  }

  .hero-content p {
    text-align: center;
    font-size: 120%;
  }

  .search-box {
    margin-top: 3rem;
  }

  .search-box input {
    padding: 2%;
  }

  .search-box-go .material-icons {
    font-size: 250%;
  }
}

/* TABLET PORTRAIT */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .hero {
    background-image: url("https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&h=1024&q=80");
  }

  .hero .logo {
    top: 15px;
    width: 50px;
  }

  .hero-content {
    margin: 0 auto;
    max-width: 600px;
  }

  .hero-content h1 {
    text-align: left;
    font-size: 300%;
  }

  .hero-content h1 br {
    display: block;
  }

  .hero-content p {
    text-align: left;
    font-size: 150%;
  }

  .search-box {
    margin: 3rem auto 0;
  }

  .search-box input {
    padding: 3%;
  }

  .search-box-go .material-icons {
    font-size: 300%;
  }
}

/* TABLET PORTRAIT / DESKTOP */
@media screen and (min-width: 1024px) {
}
